@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mainConteiner{
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../images/fondo-merce.png);
  background-size: cover;
  background-position: center center;
 
}


/*---------NAV-BAR-----------*/


.navbar{
  position: absolute;
  top: 0;
  color: rgb(255, 255, 255);

}
.logo{
  padding: 5px;
  transition: .4s;
}
.logo:hover{
  cursor: pointer;
  transform: scale(1.13);
}
.linkList{
  font-family: montserrat;
  font-weight: bold;
}
.nav-element{
  padding: 10px;
}
.nav-element:hover{
  padding: 10px;
  border-radius: 15px;
  background-color: #00000071;
  transition: all .3s;
  transform: scale(1.1);
}
.cartConteiner{
  transition: .2s;
}
.cartConteiner:hover{
  border-radius: 15px;
  padding: 4px;
  background-color: #0000004d;
  transform: scale(1.11);
}
.cartList{
  text-align: start;
  padding: 15px;
  font-size: medium;
  position: fixed;
  width: 300px;
  height: 500px;
  background-color: #000000a8;
  top: 140px;
  right: 30px;
  border-radius: 30px;
}
.active{
  opacity: 1;
  visibility: visible;
}
.inactive{
  opacity: 0;
  visibility: hidden;
}

/*--------MAIN (ProductList)----------*/
.productList{
  padding: 20px;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}
.listTitle{
  font-family: montserrat;
}
.imagenProducto{
  object-fit: contain;
  width: 200px;
  height: 200px;
  border-radius: 10px 10px 0px 0px;
}
.cardConteiner{
  background-color: #000000a1;
  padding: 30px;
  border-radius: 15px;
  transition: .3s;
}
.cardConteiner:hover{
  transform: scale(1.11);
  background-color: #000000a1;
}

/*------ LOGIN ------ */
.loginConteiner{
  background-color: #000000b2;
  border-radius: 30px;
  padding: 20px;
}
/*------ SLIDER ------ */

.cardConteinerSlider{
  padding: 30px;
  border-radius: 15px;
  transition: .3s;
}
.cardConteinerSlider:hover{
  transform: scale(1.15);
}
.productListSlider{
  padding: 20px;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .slider{
  padding: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 900px;
  height: 300px;
}
.slick-arrow{
  width: 50px;
  height: 50px;
}
/*------ FOOTER ------ */

.footerConteiner{
  position: absolute;
  bottom: 0; 
  background-color: #000000b2;
}

/*--------MediaQuerys------*/
 
@media screen and (max-width: 1400px){
  .linkList{
    gap: 5px;
    margin-right: -15px;
  }
} 
@media screen and (max-width: 1200px){
  .productConteiner{
    margin: 100px;
  }
} 
@media screen and (max-width: 1120px){
  .logo{
    display: inline-block;
  }
  .logo img{
    margin-left: 60px;
    margin-bottom: -30px;
  }
} 
@media screen and (max-width: 1050px){
 .linkList{
  flex-direction: column;
 }
 .logo{
  margin-top: -190px;
 }
 .productList{
  margin-top: -90px;
  display: grid;
  grid-template-columns: auto auto;
 }
 .listTitle{
  margin-top: -220px;
  margin-bottom: 150px;
 }

} 
@media screen and (max-width: 850px){
.navbar{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #00000071;
}
.linkList{
  margin-top: 30px;
  flex-direction: row;
  font-size: 20px;  
}
.logo{
    display: flex;
    flex-direction: column;
    margin: 0;
}
.logo img{
  margin-right: 45px;
}
.productConteiner{
  margin-top: 300px;
}
} 
@media screen and (max-width: 680px){
  .mainConteiner{
    position: relative;
    background-image: url(../images/fondo-merce.png);
    background-repeat: repeat;
    background-size: auto;
    background-position: center center;
   
  }
  .cart{
    position: fixed;
    top: 20px;
    right: 20px;
  }
  .linkList{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  .productList{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .productConteiner{
    align-items: center;
    gap: 10px;
  }
  .listTitle{
    margin-bottom: 20px;
  }
  .footerConteiner h4{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
  }
  .footerConteiner div{
    flex-direction: column;
    margin-left: -10px;
    margin-right: 15px;
  }
} 

