@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mainConteiner{
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../images/fondo-merce.png);
  background-size: cover;
  background-position: center center;  
 
}


/*---------NAV-BAR-----------*/


.navbar{
  position: absolute;
  top: 0;
  color: rgb(255, 255, 255);
}
.logo{
  padding: 5px;
  transition: .4s;
}
.logo:hover{
  cursor: pointer;
  transform: scale(1.13);
}
.linkList{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 30px;
}
.nav-element{
  padding: 10px;
}
.nav-element:hover{
  padding: 10px;
  border-radius: 15px;
  background-color: #00000071;
  transition: all .3s;
  transform: scale(1.1);
}
.cartConteiner{
  transition: .2s;
}
.cartConteiner:hover{
  border-radius: 15px;
  padding: 4px;
  background-color: #0000004d;
  
}
.cartList{
  font-weight: normal;
  text-align: start;
  padding: 15px;
  font-size: medium;
  position: fixed;
  width: fit-content;
  height: 500px;
  background-color: #000000cb;
  top: 170px;
  right: 30px;
  border-radius: 30px;
}
.active{
  opacity: 1;
  visibility: visible;
}
.inactive{
  opacity: 0;
  visibility: hidden;
}

/*--------MAIN (ProductList)----------*/

.landingConteiner{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 800px;
  height: 800px;
    /* background-image: url(/mat-sinFondo.png);
    background-repeat: no-repeat;
    background-position: 50% 50% ;
    background-size: contain; */
}

.productList{
  width: 1200px;
  padding: 20px;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}
.listTitle{
  font-family: montserrat;
}
.imagenProducto{
  object-fit: contain;
  width: 200px;
  height: 200px;
  border-radius: 10px 10px 0px 0px;
}
.cardConteiner{
  justify-content: start;
  height: 500px;
  background-color: #000000a1;
  padding: 30px;
  border-radius: 15px;
  transition: .3s;
}
.cardConteiner:hover{
  transform: scale(1.11);
  background-color: #000000a1;
}



/*------ LOGIN ------ */

.loginConteiner{
  background-color: #000000b2;
  border-radius: 30px;
  padding: 20px;
  width: 880px;
}

/*------ ASIDECATEGORYMENU ------ */

.asideConteiner{
  flex-direction: row;
  position: fixed;
  top: 180px;
  left: 50%;
  transition: 0.5s;
}

.link{
  background-color: #000000a1;
}
.link:hover{
  scale: 1.15;
}



/*--------------ProductDETAIL-------------------*/
.productDetailConteiner{
  width: 50%;
  background-color: #000000a8;
  border-radius: 30px;
  padding: 50px;
}
/*--------------ORDERS-------------------*/
.orderConteiner{
  background-color: #000000c9;
}
/*--------------LOADING-------------------*/
.loadingConteiner{
  margin-top: -300px;
  background-color: #000000b4;
}



/*------ FOOTER ------ */

.footerConteiner{
  position: absolute;
  bottom: 0; 
  background-color: #000000b2;
  height: 80px;
}




/*--------MediaQuerys------*/




@media screen and (max-width: 1500px){
  .productConteiner{
    align-items: center;
    justify-content: center;
  }
  .welcome{
    width: 80%;
  }
} 
 
@media screen and (max-width: 1400px){
  .linkList{
    gap: 5px;
    margin-right: -15px;
  }
  .productList{
    width: 800px;
  }
  .agregarCarrito{
    width: 100%;
  }
  .terminarCompra{
    width: 100%;
  }
  .descripcionDetail{
    width: 50%;
    gap: 12px;
    align-items: center;
    justify-content: center;
  }
  .detailConteiner{
    width: 100%;
  }
  .detailConteiner img{
    width: 50%;
    height: 50%;
  }
  .descripcion{
    width: 80%;
    font-size: 20px;
  }


} 
@media screen and (max-width: 1200px){
  .cartList{
    top: 220px;
    background-color: black;
  }
  .productConteiner{
    margin: 100px;
  }
  .logo img{
    margin-right: 45px;
  }
  .navbar{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #00000071;
    padding: 0;
    
  }
  .logo{
    align-items: start;
    height: 100px;
  }
  .tituloMaquinas{
    margin-top: 60px;
  }
  .volver{
    width: 80px;
    height: 30px;
    font-size: 16px;
    padding: 0;
  }
  .productDetailConteiner{
    margin-top: 80px;
  }

 } 

@media screen and (max-width: 1120px){
  .logo{
    display: inline-block;
  }
} 

@media screen and (max-width: 1050px){
  .linkList{
   flex-direction: row;
  }
  .productList{
    width: 600px;
  }
  .ContactConteiner form h2{
    font-size: 22px;
  }

 
 } 

 @media screen and (max-width: 950px){
  
  .linkList{
    flex-direction: row;
    font-size: 20px;  
  }
  .logo{
      display: flex;
      flex-direction: column;
      margin: 0;
  }
  .logo img{
    margin-top: 40px;
    margin-right: 45px;
  }
  .cart{
    width: 50px;
    height: 50px;
  }
  .mainConteiner{
    height: 100vh;
  }
  .loginConteiner{
    margin-top: 80px;
    width: 70%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .titleRegister{
    font-size: 18px;
    width: 384px;
  }
  .loginform{
    width: 100%;
    gap: 0;

  }
  .descripcion{
    font-size: 14px;
    width: 100%;
  }
 } 

@media screen and (max-width: 850px){
.landingConteiner{
  width: 90%;
}
.tituloLanding{
  font-size: 50px;
}
.subTituloLanding{
  font-size: 20px;
}
.productList{
  width: 500px;
}
.cardConteiner{
  width: 10rem;
} 
.cardConteiner{
  font-size: 16px;
} 
.cardConteiner p{
  font-size: 12px;
}
.imagenProducto{
  width: 100%;
  height: 100%;
}
.footerConteiner h4{
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}
.footerConteiner div{
  flex-direction: column;
  margin-left: -10px;
  margin-right: 15px;
}
.productDetailConteiner{
  width: 80%;
}
.descripcion{
  width: 70%;
}

} 
@media screen and (max-width: 720px){
  .cart{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 55px;
  }
  .linkList{
    font-size: 16px;
    display: flex;
   
    justify-content: space-around;
  }
  .productList{
    width: 400px;
  }
  .cardConteiner{
    width: 16rem;
  }  
  .loginConteiner{
    width: 90%;
  }
  .ContactConteiner form h2{
    font-size: 18px;
  }
  .descripcion{
    width: 100%;
  }

} 
@media screen and (max-width: 640px){
 
 .productConteiner{
  margin: 0;
 }
 

} 

@media screen and (max-width: 550px){
  .navbar ul{
    font-size: 12px;
  }
  .cart{
    width: 50px;
    height: 50px;
  }
  .logo{
    margin: 0;
    padding: 0;
    gap: 0px;
    margin-right: 0px;
  }
  .logo img{
    width: 60px;
    height: 80px;
  }
  .logo h1{
    font-size: 16px;
  } 
  .linkList{
   display: flex;
   gap: 10px;
   margin-right: 0px;
  }
  .nav-element{
    padding: 0px;
  }
  .nav-element:hover{
    padding: 0px;
    margin: 0px;
    scale: 1;
    border-radius: 5px;
  }
  .cartList{
    background-color: black;
    width: 80%;
    height: 60%;
  }
  .ContactConteiner form h2{
    font-size: 16px;
    width: 80%;
  }
  .detailConteiner{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .agregarCarrito{
    width: 100%;
  }
  .terminarCompra{
    width: 100%;
  }

  .detailConteiner{
    width: 100%;
  }
  .descripcionDetail{
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .descripcion{
    width: 100%;
  }
  .cantidadPicker{
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .cantidadPicker button{
    width: 40%;
  }
  .volver{
    width: 50px;
    height: 30px;
    font-size: 12px;
  }
  .nombreProduct{
    font-size: 20px;
  }
  .marcaProduct{
    font-size: 20px;
  }
  .modeloProduct{
    font-size: 20px;
  }
  .productDetailConteiner{
    margin-top: 20px;
  }
} 
@media screen and (max-width: 470px){
  .tituloIniciar{
    font-size: 20px;
  } 
  .log{
    width: 95%;
  }
  .hr{
    width: 95%;
  }
  .name{
    width: 95%;
  }
  .password{
    width: 95%;
  }
  .iniciarSesion{
    width: 95%;
  }
  .registerConteiner{
    width: 100%;
  }
  .titleRegister{
    width: 95%;
    font-size: 15px;
  }
  .registerFrom{
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .email{
    width: 95%;
  }
  .phone{
    width: 95%;
  }
  .nameRegister{
    width: 95%;
  }
  .registrar{
    width: 95%;
  }
  .google{
    width: 95%;
    font-size: 18px;
  }
  .buscar{
    width: 80%;
  }
  
} 
@media screen and (max-width: 420px){
  .productList{
    width: 250px;
  }
  .ContactConteiner{
    width: 100%;
  }
  .ContactConteiner form input{
    width: 80%;
  }
  .ContactConteiner form button{
    width: 80%;
  }
} 
@media screen and (max-width: 400px){
  .navbar{
    padding: 0%;
    padding-top: 30px;
  }
  
  .nav-element{
    padding: 0;
    margin: 0;
    font-size: 9px;
  }
  .productDetailConteiner{
    margin-top: 80px;
  }
  
} 